In [ ]:
# install tweepy if not already installed
!pip install tweepy

Below are the credentials co connect with twitter.

You can create your own by following the instructions in the twitter developer platform documentation:

https://developer.twitter.com/en/docs/twitter-api/getting-started/getting-access-to-the-twitter-api

Then you can view/create your twitter apps in your developer dashboard:
https://developer.twitter.com/en/portal/dashboard

In [24]:
import tweepy
import pandas as pd

consumer_key = "8R0NY4L72d8umasI2iseaCa5I"
consumer_secret = "ECPWmJHaf3sVxYHCHRezA0UWdbLmb9KgLhFtfZxAt2OYOweBug"
access_token = "1862900484-uqFaQVx7uiekFu0wC9QitLtiRzdnHcWjAZENPjE"
access_token_secret = "oUBuEIASchJhOjKkkkniICSKPycy0rg8QPJJnLEuCr07B"

In [ ]:
# authenticate with the Twitter API, and create the 'api' object which we'll use to access the Twitter API
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [48]:
def search_by_keyword(api, keyword):
    
    # creqte a pandas dataframe to save the fetched tweets
    df = pd.DataFrame(columns=['id', 'created_at', 'username', 'location', 'following', 
                               'followers', 'retweetcount', 'text'])
    
    # run a query to twitter
    tweets = tweepy.Cursor(api.search_tweets, q=keyword, lang="en",
                           tweet_mode='extended').items(10) # ** note that we are only fetching the first 10 tweets,
                                                            # as to not exceed the limit of the free API tier **
    
    #save the tweets in our dataframe.
    list_tweets = [tweet for tweet in tweets] 
    for tweet in list_tweets: 
        id = tweet.id
        created_at = tweet.created_at
        username = tweet.user.screen_name 
        location = tweet.user.location 
        following = tweet.user.friends_count 
        followers = tweet.user.followers_count 
        totaltweets = tweet.user.statuses_count 
        retweetcount = tweet.retweet_count 
        try: 
            text = tweet.retweeted_status.full_text 
        except AttributeError: 
            text = tweet.full_text 
  
        tweets = [id, created_at, username, location, following, 
                     followers, retweetcount, text] 
        df.loc[len(df)] = tweets 
        
    return df

In [51]:
keyword = "#ukraine"
tweets_df = search_by_keyword(api, keyword)

In [52]:
tweets_df.head()

,id,created_at,username,location,following,followers,retweetcount,text
0,1503681252104318980,2022-03-15 10:35:22+00:00,ascensi,,820,493,2,"""A U.S. defense official said Monday that Ukra..."
1,1503681250174767108,2022-03-15 10:35:21+00:00,sugarvenet_,,14,1,0,- what's your superpower?\n- I'm Ukrainian ðŸ‡ºðŸ‡¦\...
2,1503681246047584260,2022-03-15 10:35:20+00:00,rhodes_shane,Newcastle Australia,79,24,8,It took Australia's #ABC journalists less than...
3,1503681245238251525,2022-03-15 10:35:20+00:00,erwinovich,,245,70,0,@xXDeMoSiKXx @YourAnonOne No. Maybe you can se...
4,1503681239970111494,2022-03-15 10:35:19+00:00,feinberg_linda,,311,595,2250,NEW: In a remarkable sign of the solidarity #P...

Checkout the tweepy documentation to know how to use its coponents to communicate with the twitter API:

https://docs.tweepy.org/en/stable/client.html

and how to formulate a twitter API query, and the different search parameters you can use:

https://developer.twitter.com/en/docs/twitter-api/tweets/lookup/introduction